
/* Import Google Fonts "Open Sans" */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Set basic styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height:100%;
}


/* Set basic body styles */
body {
	font-family: 'Open Sans';
	line-height:1.8;
	color: #333;
	background: rgba(32, 32, 32, 0.7);
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Make links look better */
a {
	text-decoration: none;
}

/* Main Header */
#main-header {
	background: #33BEFE
	height: 200vh;
	color: #fff;
	position: relative;
	font-weight: bold;
}

#main-header .logo{
	font-size: 3.7rem;
	padding-left: 58px;
	font-weight: normal;
}

#main-header .logo-img{
	position: absolute;
	padding-top: 10px;
}


#main-header *{
	z-index: 1;
}

#main-header .navbar {
	display: flex;
	position: fixed;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background: #33BEFE;
	width: 100%;
	padding: 30px;
	z-index: 2;
	
}

#main-header .navbar ul{
	display: flex;
}

#main-header .navbar a{
	color: #fff;
	padding: 10px;
	margin: 10px;
}

#main-header .search {
	align-items: center;
		
}

#main-header .search input[type=text] {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	border: none;
	font-size: 17px;
		
}

/* Side panel */
#side-panel {
	position: relative;
	top:60px;
	
}

#side-panel .navbar {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	height: 100%;
	background: #33befe;
	width: 16%;
	padding: 30px;
	z-index: 2;	
	border: solid 0px #33befe;
	border-right-width: 10px;
	
}

#side-panel .navbar ul{
	display: flex;
	flex-direction: column;
}

#side-panel .navbar a {
	color: #000;
	font-weight: bold;
	font-size:1.3vw;
}

#side-panel  .navbar a:nth-child(odd) {
	background-color: #019ce4;
}

#side-panel .navbar a:hover{
	color: #f8f8f8;
}

/* Scroll alert bar */

.scroll-left {
	height: 50px;
	overflow: hidden;
	position: fixed;
	background: yellow;
	color: red;
	border: 1px solid orange;
	top: 60px;
	z-index: 1;
	width: 100%;
}

.scroll-left p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;

	transform: translateX(100%);
	animation: scroll-left 15s linear infinite;
}

.scroll-left p:hover {
	animation-play-state: paused;
}

.scroll-left a{
	color: red;
}

@keyframes scroll-left {
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}
/*  Homepage */
#home {
	display:flex;
	z-index: 0;
	height: 100%;
	align-content: center;	
}
#home div{
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#home .background{
	background: #505050;
	position: absolute;
	width: 100%;
	height: auto;
}

#home .picture img{
	opacity: 50%;
}
#front {
	margin-left: 16%;
}

#front .text {
	margin-top: -500px;
	display: flex;
	width: 100%;
	align-items:center;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;	
	color: #f8f8f8;

	
}
#front .text h1{
	font-size: 3vw;
}

#features {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#features .blocks{
	z-index: 1;
	display: flex;
	flex-direction: row;
}

#features .block{
	color: #f8f8f8;
	width: 300px;
	text-align: center;
	margin: 50px;
	padding: 30px;
	background: rgba(32, 32, 32, .7);
	border-radius: 10px;
}



/* Basic Services such as login and logout */

#services {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	background: #f8f8f8;
	height: 100vh;
}

/* Login and logout */
.login {
	margin-left: 16%;
	width: 20%;
}

.login h2{
	text-align: center;
}

.login form *{
	width: 100%;
	display: inline-block;
	margin: 5px;
}

.login form input{
	border: solid;
	border-width: 2px;
	border-color: #33befe;
	padding: 10px;
	border-radius: 10px;
}

.login form input:focus{
	outline: none;
}

.login form #submit:hover{
	opacity: .7;
}

.login form #submit{
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 5px;
	background:#33befe;
	font-weight: 600;
	color: #f8f8f8;
}

/* Create Account */
.signup {
	margin-left: 16%;
	width: 20%;
}

.signup h2{
	text-align: center;
}

.signup form *{
	width: 100%;
	display: inline-block;
	margin: 5px;
}

.signup form input{
	border: solid;
	border-width: 2px;
	border-color: #33befe;
	padding: 10px;
	border-radius: 10px;
}

.signup form input:focus{
	outline: none;
}

.signup form #submit:hover{
	opacity: .7;
}

.signup form #submit{
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 5px;
	background:#33befe;
	font-weight: 600;
	color: #f8f8f8;
}

/* Create Forum */
.createforum {
	margin-left: 16%;
	width: 40%;
}

.createforum h2{
	text-align: center;
}

.createforum form *{
	width: 100%;
	display: inline-block;
	margin-left: 5px;
}

.createforum form input, textarea{
	border: solid;
	border-width: 2px;
	border-color: #33befe;
	padding: 10px;
	border-radius: 10px;
}

.createforum form input:focus, textarea{
	outline: none;
}

.createforum form #forumdescription{
	margin-left: 10px;
	width: 100%;
}

.createforum textarea{
	font-family: 'Open Sans';
	resize: none;
}

.createforum form #submit:hover{
	opacity: .7;
}

.createforum form #submit{
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 5px;
	background:#33befe;
	font-weight: 600;
	color: #f8f8f8;
}

/* Manage Forums */
#manageforum {
	margin-left: 16%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;

}

#manageforum .text{
	text-align: center;
	border: solid #33befe;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding: 20px;
	background-color: #f8f8f8;
}

#manageforum .text hr{
	margin: auto;
	width: 50%;
}

#manageforum .text a{
	font-weight: bold;
	margin: auto;
	margin-top: 20px;
	padding: 3px 6px 3px 6px;
	background-color: #33befe;
	width: 50%;
	color: #f8f8f8;
	border-radius: 10px;
}

#manageforum .buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* List of Forums */
#forumslist {
	display: flex;
	flex-direction: column;
	margin-left: 16%;
	min-height:100%;
	height: 100%;
	position: relative;
}

#forumslist .display{
	margin-top: 5%;
	padding: 70px;
}

#forumslist .item {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 10px;
	background-color: #cdcdcd;
	padding: 10px;
	border-radius: 10px;
}

#forumslist a{
	display: flex;
	width: 20%;
	margin: auto;
	justify-content: space-around;
	background-color: #33befe;
	border: solid #019ce4;
	border-radius: 10px;
	padding: 10px;
	color: #f8f8f8;
	font-weight: bold;	
}

#forumslist a:hover{
	background-color: #019ce4;
}

#forumslist .desc{
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: auto;
	background-color: #f8f8f8;
	border: solid #33befe;
	border-radius: 10px;
	padding: 10px;
}

/* The Actual Forums */
#forum {
	display: flex;
	height: 100%;
	margin-left:16%;
}

#forum .post {
	padding: 20px;
	border: solid;
	width: 70%;
	border-width: 5px;
	border-color: #33befe;
	border-radius: 10px;
	background-color: #f8f8f8;
	margin: auto;
	margin-top: 80px;
}

#forum .display { 
	background-color: #cdcdcd;
	padding: 5px;
	border-radius: 10px;
}

#forum .display h1{
	color: #019ce4
}
#forum .display p {
	width: 100%;
	padding-top: 20px;
}

#forum .comments {
	text-align: right;
	margin-left: 30%;
	display: flex;
	flex-direction: column;
	width: 70%;
}

#forum .comment{
	background-color: #dbf1ff;
	margin: 5px;
	padding-left: 5px;
	font-size: 1.17em;
	font-weight: bold;
}

#forum .comment .content{
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	text-align: left;
}

#forum .data{
	justify-content: space-between;
	display: flex;
	flex-direction: row; 
	align-items: right;
	color: rgba(0, 0, 0, 0.6)
}

#forum .input{
	width: 100%;
}

#forum .input .content{
	display: flex;
	flex-direction: row;
	height: 5%;
	margin-left: 30%;
}

#forum .input .content #comment{
	width: 95%;
	height: 80%;
	border-radius: 5px;
	padding: 3px;
}

#forum .input .content #comment:focus{
	outline: none;
}

#forum .input .content #submit{
	height: 80%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: #f8f8f8;
	background-color: #33befe;
	font-weight: bold;
}

#forum .input .content #submit:hover{
	background-color: #019ce4;
}

/* Actual Groups */

#group {
	display: flex;
	height: 100%;
	margin-left:16%;
}

#group .post {
	padding: 20px;
	border: solid;
	width: 70%;
	border-width: 5px;
	border-color: #33befe;
	border-radius: 10px;
	background-color: #f8f8f8;
	margin: auto;
	margin-top: 80px;
}

#group .display { 
	background-color: #cdcdcd;
	padding: 5px;
	border-radius: 10px;
}

#group .display h1{
	color: #019ce4
}
#group .display p {
	width: 100%;
	padding-top: 20px;
}

#group .content{
	display: flex;
	flex-direction: row;
}

#group .members {
	width: 100%;
	text-align: right;
	display: flex;
	flex-direction: column;
}

#group .member{
	background-color: #dbf1ff;
	margin: 5px;
	padding-left: 5px;
	font-size: 1.17em;
	font-weight: bold;
}

#group .member .content{
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	text-align: left;
}

#group .input{
	display: flex;
	justify-content: space-around;
	width: 40%;
	height: 3em;
}

#group .input #join{
	margin-top: 5px;
	padding: 20px 40px 20px 40px;
	border-radius: 5px;
	color: #f8f8f8;
	background-color: #03ac13;
	font-weight: bold;
}

#group .input #join:hover{
	background-color: #028a0f;
}


/* Create Groups */
.creategroup {
	margin-left: 16%;
	width: 40%;
}

.creategroup h2{
	text-align: center;
}

.creategroup form *{
	width: 100%;
	display: inline-block;
	margin-left: 5px;
}

.creategroup form input, textarea{
	border: solid;
	border-width: 2px;
	border-color: #33befe;
	padding: 10px;
	border-radius: 10px;
}

.creategroup form input:focus, textarea{
	outline: none;
}

.creategroup form #groupdescription{
	margin-left: 10px;
	width: 100%;
}

.creategroup textarea{
	font-family: 'Open Sans';
	resize: none;
}

.creategroup form #submit:hover{
	opacity: .7;
}

.creategroup form #submit{
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 5px;
	background:#33befe;
	font-weight: 600;
	color: #f8f8f8;
}

span {
  content: "\26A0";
  display: block;
  top: -0.08em;
  left: 0.0em;
  position: absolute;
  border: transparent 0.6em solid;
  border-bottom-color: #fd3;
  border-bottom-width: 1em;
  border-top-width: 0;
  box-shadow: #999 0 1px 1px;
}

/* Manage Groups */
#managegroup {
	margin-left: 16%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	background-color: rgba(32, 32, 32, 0.7);
}

#managegroup .text{
	text-align: center;
	border: solid #33befe;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding: 20px;
	background-color: #f8f8f8;
}

#managegroup .text hr{
	margin: auto;
	width: 50%;
}

#managegroup .text a{
	font-weight: bold;
	margin: auto;
	margin-top: 20px;
	padding: 3px 6px 3px 6px;
	background-color: #33befe;
	width: 50%;
	color: #f8f8f8;
	border-radius: 10px;
}

#managegroup .buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Jobs */
#jobs {
	height: 100%;
	margin-left: 16%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#jobs .content{
	margin-top: 5%;
	padding: 70px;
}

#jobs .item {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px;
	background-color: #cdcdcd;
	padding: 10px;
	border-radius: 10px;
}

#jobs .item .name{
	display: flex;
	flex-direction: row;
	background: #33befe;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	color: #f8f8f8;
	font-weight: bold;
	vertical-align: center;
}

#jobs .pos{
	margin:auto;
	margin-left: 5%;
}

#jobs .desc{
	padding: 10px;
	border: solid #33befe;
	border-bottom-right-radius:10px;
	background: #f8f8f8;
}

#jobs .item .details{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#jobs .money{
	display: flex;
	flex-direction: row;
	padding: 10px;
	background: #019ce4;
	color: #f8f8f8;
	width: 80%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#jobs .pay{
	margin-left: 10%;
}

#jobs .link{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 20%;
	font-weight: bold;
}

/* Profile */
#profile {
	display: flex;
	height: 100%;
	margin-left: 16%;
}

#profile .content{
	display: flex;
	flex-direction: column;
	margin:auto;
	justify-content: space-around;
	background: #f8f8f8;
	border: solid #33befe;
	border-radius: 10px;
	padding: 10px;
}


/* Mission Statement */
#about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	margin-left: 16%;
	align-items: center;
	height: 100%;
	background: #33befe;
}

#about .text{
	width: 50%;
	padding: 60px;
	background: #f8f8f8;
	border-style: solid;
	border-color: #019ce4;
}

#about .text h1{
	text-align: center;
}

/* Contact Us */
#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	margin-left: 16%;
	align-items: center;
	width: 84%;
	height: 100%;
	background: rgba(32, 32, 32 0.7);
}

#contact .text{
	background: #f8f8f8;
	padding: 60px;
	border-style: solid;
	border-color: #019ce4;
	border-radius: 10px;
}

#contact .title{
	text-align: center;
	padding-bottom: 20px;
}

#contact .input {
	margin-top: 5px;
	padding: 10px;
}

#contact .email #email{
	width: 50%;
	padding: 8px;
	border-radius: 10px;
	border-color: #33befe;
	margin-bottom: 10px;
}

#contact .subject #subject{
	width: 50%;
	padding: 8px;
	border-radius: 10px;
	border-color: #33befe;
	margin-bottom: 10px;
}

#contact .message #message{
	width: 50%;
	padding: 8px;
	border-radius: 10px;
	border-color: #33befe;
	margin-bottom: 10px;
}

#contact #submit {
	display: inline-block;
	padding: .75rem 2rem;
	border-radius: 5px;
	background:#33befe;
	font-weight: 600;
	color: #f8f8f8;
}
