{% extends "base.html" %}
{% block content %}
	<section id="about">		
		<div class="text">
			<h1>Mission Statement:</h1>
			<p>SciTech is a forum based platform that
			 helps connect current and former SCSU Computer Science students. 
			 SciTech provides students with a resource that will strengthen their skills by assisting them with projects, 
			 obtaining job opportunities, creating groups, 
			 and meeting other students to maximize their experience here at Southern. </p>
		</div>
	</section>
{% endblock %}
