{% extends "base.html" %}

{% block content %}
	<section id="services">
		<div class="login">
			<h2>Inventory Item</h2>
			<form action ="" method="post" novalidate enctype="multipart/form-data">
				{{form.hidden_tag() }}
				<div class="row my-4">
					<div class="col">

						{{form.name(class_="form-control")}}
					</div>
					<div class="col">

						{{form.item_number(class_="form-control")}}
					</div>
				</div>
				<div class="row my-4">
					<div class="col">

						{{form.voltage(class_="form-control")}}
					</div>
					<div class="col">

						{{form.manufacturer(class_="form-control")}}
					</div>
				</div>
				<div class="row my-4">
					<div class="col">

						{{form.location(class_="form-control")}}
					</div>
					<div class="col">

						{{form.price(class_="form-control")}}
					</div>
				</div>
				<div class="custom-file mb-4">
					{{imgForm.image(class_="form-control custom-file-input", id="customFile")}}
					<label class="custom-file-label" for="customFile">Choose file</label>
				</div>
				<p>
					{{form.description(class="form-control") }}
				</p>
				<p>{{ form.submit(class_="form-control btn-outline-primary") }}</p>
			</form>
		</div>
	</section>
{% endblock %}
