<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset ='UTF-8'>
		<meta name='viewport' content = "width=device-width, initial-scale=1.0">
		<title>RESA Power</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='sidebar.css') }}">

		<style>
			html, body {
				overflow: hidden !important;
			}

			.cbg-dark {
				background-color: #75b25a !important;
			}

			.sidebar {
				height: calc(100vh - 74px);
			}

			#services {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.bg-image {
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center center;
			}

			.bg-image.card-image-top {
				height: 200px;
				border: .5px solid #ccc;
			}
		</style>
	</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark cbg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/" style="margin-right: 10%;">
			<div class="mr-5" style="height: 80px; position relative;">
				<img src="{{ url_for('static', filename='img/RESAlogo-1.png') }}" style="position: absolute; left: 5px; top: 5px; width: calc(15% - 10px); z-index: 999" >
			</div>
		  </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="ml-5 nav-item">
					<a class="nav-link" href="/">Home</a>
				  </li>
				{% if g.user.is_authenticated %}
					<li class="nav-item">
						<a href="/add-inventory-items" class="nav-link">Add Inventory Items</a>
					</li>
				{% endif %}
				  <li class="nav-item">
					<a href="/view-inventory-items" class="nav-link">View Inventory Items</a>
				  </li>
			  </ul>
			<ul class="navbar-nav ml-auto">
			  
			  {% if g.user.is_authenticated %}
				{% if g.user.role == 'admin' %}
					<li class="nav-item">
						<a class="nav-link" href="/Admin">Admin</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('user', username=current_user.username)}}">Profile</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/CreateAccount">Create Account</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
			{% endif %}
			</ul>
		  </div>
		</div>
	  </nav>

	<div class="container-fluid" style="padding: 0; overflow-x: hidden">
		<div class="row">
			<div class="col-md-2 col-sm-12">

					
				<div class="d-flex flex-column flex-shrink-0 p-3 text-light cbg-dark sidebar">
					<ul class="nav nav-pills flex-column mb-auto" >
						

						<li class="nav-item">
							<form class="" method="get" action="{{ url_for('view_inventory_items') }}">
								<div class="form-group">
									<h4>Search Items</h4>
								</div>
								<div class="row">
									<div class="my-1 col-12">
										<input type="text" placeholder="Name" class="form-control form-control-sm" name="name">
									</div>
									<div class="my-1 col-12">
										<input type="text" placeholder="Location" class="form-control form-control-sm" name="location">
									</div>
								</div>
								<div class="row">
									<div class="my-1 col-12">
										<input type="number" placeholder="Voltage" class="form-control form-control-sm" name="voltage" title="filters voltage less than or equal to">
									</div>
									{% if g.user.is_authenticated and g.user.role == 'admin' %}
										<div class="my-1 col-12">
											<input type="number" placeholder="Price" class="form-control form-control-sm" name="price" title="filters price less than or equal to">
										</div>
									{% endif %}
									
								</div>
								<div class="row">
									<div class="my-1 col-12">
										<select class="form-control form-control-sm" name="sort">
											<option value="">Sort By</option>
											<option value="name_asc">Name Ascending</option>
											<option value="name_desc">Name Descending</option>
											{% if g.user.is_authenticated and g.user.role == 'admin' %}
												<option value="price_asc">Price Ascending</option>
												<option value="price_desc">Price Descending</option>
											{% endif %}
											<option value="voltage_asc">Voltage Ascending</option>
											<option value="voltage_desc">Voltage Descending</option>
											
											<option value="location_asc">Location Ascending</option>
											<option value="location_desc">Location Descending</option>

											<option value="created_on_asc">Created On Ascending</option>
											<option value="created_on_desc">Created On Descending</option>
											
											<option value="updated_on_asc">Updated On Ascending</option>
											<option value="updated_on_desc">Updated On Descending</option>
										</select>
									</div>
									<div class="my-1 col-12">
										<button type="submit" class="form-control-sm form-control btn-primary">Submit</button>
									</div>
								</div>
							  </form>
						</li>
					</ul>
					<hr>
					<b style="position: absolute; bottom: 50px; left: 50px">&copy; RESA Power.</b>
				</div>

			</div>
			<div class="col-md-10 col-sm-12" style="max-height: calc(100vh - 74px); overflow-y:auto">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>


</body>

</html>
