{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<body>
	<section id="contact">
		<nav class="text">
			<h2 style="font-size:30px;">CONTACT US</h2>
			<h2 style="font-size:15px;">Email us with any questions or inquiries at CSC330SP21SciTech@gmail.com. We would be happy to answer your questions and set up a meeting with you.</h2>
			<div class='input'>
				<form action="" method="post" novalidate>
					{{form.hidden_tag() }}
					<div class='email'>
						<p>
							{{form.email(size=32)}}
						</p>
					</div>
					<div class='subject'>
						<p>
							{{form.subject(size=32)}}
						</p>
					</div>
					<div class='message'>
						<p>
							{{form.message(size=32)}}
						</p>
					</div>
						<p>
							{{form.submit()}}
						</p>
				</form>
			</div>
		</nav>
	</section>
</body>
</html>
{% endblock %}
				
		
