{% extends  "base.html" %}
<!DOCTYPE html>
{% block content %}
<!DOCTYPE html>

<div class="scroll-left">
<p>Please check CDC guidelines and CT laws before any events! <a href="https://portal.ct.gov/coronavirus" target="_blank">https://portal.ct.gov/coronavirus </a></p>
</div>

<header id="home">
	
	<nav class="background">
		<div class="picture">
			<img src="static/img/guy.jpg" width = "100%" height="auto"></img>
		</div>
	</nav>
</header>
<section id="front">
	<div class="text">
		<h1>Welcome to SciTech</h1>
		<h3>Connect with other CSC students to discuss homework and projects</h3>
	</div>
	<section id="features">
		<div class="blocks">
			<div class="block">
				<h2> Groups </h2>
				<p>Connect with other CSC students in your classes and sign up for assignments or meetings with your peers!</p>
			</div>
			<div class="block">
				<h2> Forums </h2>
				<p>Post and ask general questions about any coding topic. Contribute by answering one another's questions and see if anyone has already answered your question.</p>
			</div>
			<div class="block">
				<h2> Jobs </h2>
				<p>Search for job opportunites and discuss with your peers about internships, connections, and employers.</p>
			</div>
		</div>
	</section>
</section>






{% endblock %}
