{% extends "base.html" %}
{% block content %}

<div class="container m-2 my-5">

    <div class="row">
        {% if items %}
            {% for item in items %}
                <div class="col-md-4">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="bg-image card-image-top" style="background-image: url({{ url_for('static', filename=item.image) }});"></div>
                        <div class="card-body">
                            <h3>{{ item.name }}</h3>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

<div class="container m-2 my-5">
    <div class="jumbotron">
        <h1 class="display-4">RESA Power</h1>
        <p class="lead">
            This software will help RESA Power manage our inventory. Our previous procedure was very inefficient, and this will help speed up order turnaround and profitability. This application is updated live, and will include pictures of items being inventoried as well.</p>
            <hr class="my-4">
            <p>
A full tutorial will be given when the software is fully implemented to our systems. Please contact Zack, at extension 8015, or via email (zack.ehrnfelt@resapower.com) if you have any questions or concerns.
        </p>
        
      </div>
</div>

{% endblock %}