{% extends "base.html" %}
{% block content %}
<section id="services" class="align-middle">
	<div class="login">
		<h2>Order Supplies</h2>
		<form action ="" method="post" novalidate>
			{{form.hidden_tag() }}
			<p>
				{{form.mail_to(class_="form-control", size=32)}}
			</p>
			<p>
				{{form.subject(class="form-control", size=32) }}
			</p>
			<p>
				{{form.body(class="form-control") }}
			</p>
			<p>{{ form.submit(class_="form-control btn-outline-primary") }}</p>
		</form>
	</div>
</section>
{% endblock %}
